*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  block-size: 800px;
  inline-size: 1200px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: inline-flex;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
}

.search-form {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  inline-size: 711px;
  block-size: 54px;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.content__list {
  position: relative;
  padding: 0px 3px 3px 3px;
  overflow: auto;
  block-size: 301px;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.content__list-item {
  margin-top: 30px;
}

.content__list-item:first-child {
  margin-top: 0px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}

.content__video-card-thumbnail img {
  inline-size: 100%;
  block-size: 100%;
}

.content__video-card-description-container {
  flex-grow: 1;
  inline-size: 100%;
}

.result__video-container {
  position: relative;
  bottom: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: normal;
  line-height: inherit;
  text-transform: uppercase;
}

.content__card-link {
  display: block;
  margin: 2px 2px 2px 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card-title {
  color: #fff;
  font-family: inherit;
  font-weight: inherit;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: inherit;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

input {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  inline-size: 225px;
  appearance: none;
}

input:active {
  border: 1px solid #fff;
}

input:focus {
  outline: none;
}

.search-form__label:has(input:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 3px;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 5px;
}

input[type="checkbox"] + .search-form__pseudo-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
  outline: 1px solid #ffffff;
  outline-offset: 1px;
  cursor: pointer;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #fff;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  inline-size: 194px;
  block-size: 34px;
}

.more-button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 33px;
  inline-size: 397px;
  block-size: 34px;
}

.search-form__submit-button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
